/* styles.css */

body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center text content inside containers */
}
.header-content {
    display: flex;
    align-items: center; /* Vertically center items */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

h2 {
    color: #333;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center products horizontally */
}

.product {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 48%;
}
/* Logo styles */
.logo {
    max-width: 50px; /* Adjust the size as needed */
}
.buttons {
    margin-top: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
